<div class="container-header">
  <a href="/"
     class="block-header-banner-top">
    <img src="./../../../../assets/images/image-header1.webp"
         alt="">
  </a>
  <a href=""
     class="block-header-banner-top">
    <img src="./../../../../assets/images/image-header2.webp"
         alt="">
  </a>
  <div class="block-header__header">
    <div class="header-left">
      <a href=""
         class="header-left-logo">
        <img src="./../../../../assets/images/logo-header1.webp"
             alt="">
      </a>

      <div class="header-left__menu menu-cate">
        <!-- Button to trigger the main menu -->
        <button mat-button class="btn-menu-category" [matMenuTriggerFor]="mainMenu">
          <img src="./../../../../assets/images/icon_grid.svg" alt="">
          Danh mục sản phẩm
        </button>

        <!-- Main menu -->
        <mat-menu #mainMenu="matMenu">
          <ng-container *ngFor="let menu of menus">
            <!-- Menu item for each category -->
            <button mat-menu-item [matMenuTriggerFor]="menu.category_parent_id?.length > 0 ? menuName: null" (click)="searchProductByCategory(menu)">
              <span class="menu-icon">{{ menu?.icon }}</span>
              <span class="menu-name">{{ menu.category_name }}</span>
            </button>

            <!-- Sub menu for each category -->
            <mat-menu #menuName="matMenu">
              <ng-container *ngFor="let subMenu of menu.category_parent_id" >
                <!-- Sub menu item with arrow if it has sub sub menus -->
                <button mat-menu-item *ngIf="subMenu.category_parent_id?.length" [matMenuTriggerFor]="subMenuName" (click)="searchProductByCategory(subMenu)">
                  {{ subMenu.category_name }}
                </button>

                <!-- Sub menu item without arrow if it has no sub sub menus -->
                <button mat-menu-item *ngIf="!subMenu.category_parent_id?.length" (click)="searchProductByCategory(subMenu)">
                  {{ subMenu.category_name }}
                </button>

                <!-- Sub sub menu for each sub menu -->
                <mat-menu #subMenuName="matMenu" >
                  <ng-container *ngFor="let subSubMenu of subMenu.category_parent_id">
                    <!-- Sub sub menu item -->
                    <button mat-menu-item *ngIf="subSubMenu.category_parent_id?.length" (click)="searchProductByCategory(subSubMenu)">
                      {{ subSubMenu.category_name }}
                    </button>
                    <button mat-menu-item *ngIf="!subSubMenu.category_parent_id?.length" (click)="searchProductByCategory(subSubMenu)">
                      {{ subMenu.category_name }}
                    </button>
                  </ng-container>
                </mat-menu>
              </ng-container>
            </mat-menu>
          </ng-container>
        </mat-menu>
      </div>

      <div class="group-search">
        <div class="input-search">
          <button class="btn-search" (click)="onSearchProduct()">
            <img src="./../../../../assets/images/icon_search.svg"
                 alt="">
          </button>
          <input type="text"
                 placeholder="Tìm kiếm sản phẩm ..." [(ngModel)]="textSearchProduct" (keyup.enter)="onSearchProduct()">
        </div>

        <ul class="box-search__header-tags">
          <li *ngFor="let category of categories">
            <a (click)="searchProductByCategory(category)"
               title="category.category_name">{{category.category_name}}</a>
          </li>
        </ul>
      </div>

      <div class="header-left__tracking-order">
        <a rel="nofollow"
           href=""
           title="Theo dõi đơn hàng">
          <img src="./../../../../assets/images/receipt.svg"
               alt="">
          Tra cứu<br>đơn hàng
        </a>
      </div>
    </div>

    <div class="header-right">
      <a rel="nofollow"
         href=""
         title="Giỏ hàng"
         (click)="handleRouterCart()"
         class="header-right__cart">
        <img src="./../../../../assets/images/shopping_basket.svg"
             alt="">
        <span class="cart-count"><abbr class="count-giohang">{{listProduct.length}}</abbr></span>
      </a>

      <div class="header-right__user user-info">
        <button class="user-info__dropdown dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                (click)="showDropdown()"
                aria-expanded="true">
          <span class="user-info__dropdown__no-avatar"
                style="background-image: url('/assets/images/no_avatar_round.png');"></span>
        </button>
        <ul class="user-info__dropdown-list dropdown-menu no-login" [ngClass]="{ 'show': isShowDropdown }"
            style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(1292.8px, 118.4px, 0px);"
            data-popper-placement="bottom-start">
          <li>
            <a rel="nofollow"
               id="register-btn"
               (click)="registerUser()"
               title="Đăng ký"
               data-bs-toggle="modal"
               data-bs-target="#registerOtp">Đăng ký</a>
          </li>
          <li>
            <a rel="nofollow"
               id="login-btn"
               (click)="loginUser()"
               title="Đăng nhập"
               data-bs-toggle="modal"
               data-bs-target="#Register">Đăng nhập</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
