<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Hướng dẫn mua hàng</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content">
          <a href="/member-benefits">Quyền lợi thành viên</a>
        </div>
        <div class="control-content active">
          <a>Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content">
          <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content">
          <a href="/warranty-policy">Chính sách bảo hành</a>
        </div>
        <div class="control-content">
          <a href="/delivery-time">Thời gian giao hàng</a>
        </div>
        <div class="control-content">
          <a href="/payment-method">Phương thức thanh toán</a>
        </div>
        <div class="control-content">
          <a href="/infor-website">Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Hướng dẫn mua hàng</h3>

      <div class="detail-content">
        <p class="content-parent">
          Quý khách có thể đặt mua hàng trực tuyến tại website Japana.vn và hệ thống các cửa hàng thông qua các bước đơn
          giản sau
        </p>
        <p class="content-parent">
          1. Tìm kiếm sản phẩm:
        </p>
        <p class="content-parent">
          Qúy khách có thể tìm sản phẩm theo 3 cách:
        </p>
        <p class="content-parent">
          a. Gõ tên sản phẩm vào thanh tìm kiếm
        </p>
        <p class="content-parent">
          b. Tìm theo danh mục
        </p>
        <p class="content-parent">
          c. Tìm theo các sản phẩm mới nhất, bán chạy hoặc danh mục phổ biến trên từng ngành hàng
        </p>
        <p class="content-parent">
          d. Liên hệ với tư vấn viên
        </p>
        <p class="content-parent">
          2. Thêm sản phẩm vào giỏ hàng:
        </p>
        <p class="content-parent">
          Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào hình hoặc tên sản phẩm để vào được trang thông
          tin chi tiết của sản phẩm, sau đó:
        </p>
        <p class="content-parent">
          a. Kiểm tra thông tin sản phẩm: giá, thông tin khuyến mãi.
        </p>
        <p class="content-parent">
          b. Chọn số lượng mong muốn.
        </p>
        <p class="content-parent">
          c. Thêm sản phẩm vào giỏ hàng.
        </p>
        <p class="content-parent">
          3. Kiểm tra giỏ hàng:
        </p>
        <p class="content-parent">
          Trong giỏ hàng thể hiện đầy đủ thông tin số lượng sản phẩm và tổng giá trị tiền hàng. Quý khách vui lòng kiểm
          tra đúng sản phẩm, số lượng và giá trị tiền hàng.
        </p>
        <p class="content-parent">
          Tại giỏ hàng, Quý khách có thể chọn mua thêm sản phẩm khác hoặc chọn huỷ một sản phẩm bất kỳ.
        </p>
        <p class="content-parent">
          4. Điền thông tin địa chỉ giao nhận hàng:
        </p>
        <p class="content-parent">
          Quý khách phải điền đầy đủ thông tin của người mua và nhận hàng, Chúng tôi cam kết sẽ giữ bí mật thông tin cá
          nhân của quý khách.
        </p>
        <p class="content-parent">
          Trên cơ sở thông tin quý khách cung cấp, Japana sẽ tiến hành các thủ tục còn lại để giao hàng
        </p>
        <p class="content-parent">
          5. Phương thức thanh toán:
        </p>
        <p class="content-parent">
          Hiện tại Japana có các hình thức thanh toán cho khách hàng lực chọn:
        </p>
        <p class="content-parent">
          - Thanh toán khi nhận hàng (COD) - Áp dụng toàn quốc.
        </p>
        <p class="content-parent">
          - Thanh toán qua hệ thống chuyển khoản ngân hàng
        </p>
        <p class="content-parent">
          - Thanh toán qua ví điện tử VNPAY
        </p>
        <p class="content-parent">
          - Thanh toán qua ví điện tử MOMO
        </p>
        <p class="content-parent">
          - Thanh toán trực tiếp tại Văn phòng JAPANA hoặc tại cửa hàng
        </p>
        <p class="content-parent">
          Nếu các thông tin trên đã chính xác, quý khách vui lòng bấm "Đặt Mua" hoặc xác nhận với tư vấn viên, hệ thống
          sẽ bắt đầu tiến hành tạo đơn hàng dựa trên các thông tin quý khách đã đăng ký.
        </p>
        <p class="content-parent">
          6. Kiểm tra và xác nhận đơn hàng:
        </p>
        <p class="content-parent">
          Quý khách có thể vào email của mình để nhận thư xác nhận đặt hàng.
        </p>
        <p class="content-parent">
          7. Hoàn tất đơn hàng:
        </p>
        <p class="content-parent">
          Sau khi đơn hàng đã được xác nhận bằng email, bộ phận chăm sóc khách hàng của Japana sẽ gọi điện trực tiếp cho
          quý khách hàng thông qua số điện thoại mà quý khách hàng đã cung cấp để xác nhận lại một lần nữa về đơn hàng.
        </p>
      </div>
    </div>
  </div>
</div>