<footer>
    <div class="container">
        <div class="footer">
            <div class="group-info">
                <h3>JAPANA - SIÊU THỊ NHẬT BẢN</h3>
                <div class="control-info">
                    <span class="material-icons">apartment</span>
                    <span class="title">VP tại Việt Nam: </span>
                    <span class="content">Tòa Nhà Trường Thịnh Group, 76 Nguyễn Háo Vĩnh, P. Tân Quý, Q. Tân Phú, TP.
                        HCM</span>
                </div>
                <div class="control-info">
                    <span class="material-icons"></span>
                    <span class="title">Hotline CSKH: </span>
                    <span class="content bgr-blue">0975 800 600</span>
                </div>
                <div class="control-info">
                    <span class="material-icons"></span>
                    <span class="title">Hotline khiếu nại: </span>
                    <span class="content bgr-blue">0975 800 600</span>
                </div>
                <div class="control-info">
                    <span class="material-icons">public</span>
                    <span class="title">VP tại Nhật Bản: </span>
                    <span class="content">Kanagawa Ken Ebina - Shi Nakana, Japan</span>
                </div>
                <div class="control-info">
                    <span class="material-icons">store_front</span>
                    <span class="title">Cửa hàng 1: </span>
                    <span class="content">36D Phan Đăng Lưu, phường 5, Phú Nhuận, Hồ Chí Minh</span>
                </div>
                <div class="control-info">
                    <span class="material-icons"></span>
                    <span class="title">Điện thoại: </span>
                    <span class="content bgr-blue">(028) 7100 1779</span>
                </div>
                <div class="control-info">
                    <span class="material-icons">store_front</span>
                    <span class="title">Cửa hàng 2: </span>
                    <span class="content">353A Tân Kỳ Tân Quý, Tân Quý, Tân Phú, Hồ Chí Minh</span>
                </div>
                <div class="control-info">
                    <span class="material-icons"></span>
                    <span class="title">Điện thoại: </span>
                    <span class="content">(028) 7100 8006</span>
                </div>
                <div class="control-info">
                    <span class="material-icons">verified</span>
                    <span class="title">Giấy CNĐKDN </span>
                    <span class="content">0313518985</span>
                </div>
                <div class="control-icon-social">
                    <img src="../../../../assets/images/icon-facebook.webp"
                         alt="">
                    <img src="../../../../assets/images/icon-youtube.webp"
                         alt="">
                </div>
            </div>

            <div class="group-page">
                <div class="control-page">
                    <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
                </div>
                <div class="control-page">
                    <a href="/member-benefits">Quyền lợi thành viên</a>
                </div>
                <div class="control-page">
                    <a href="/shopping-guide">Hướng dẫn mua hàng</a>
                </div>
                <div class="control-page">
                    <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
                </div>
                <div class="control-page">
                    <a href="/privacy-policy">Chính sách bảo mật</a>
                </div>
                <div class="control-page">
                    <a href="/warranty-policy">Chính sách bảo hành</a>
                </div>
                <div class="control-page">
                    <a href="/delivery-time">Thời gian giao hàng</a>
                </div>
                <div class="control-page">
                    <a href="/payment-method">Phương thức thanh toán</a>
                </div>
                <div class="control-page">
                    <a href="/infor-website">Về chúng tôi</a>
                </div>
            </div>

            <div class="group-payment">
                <div class="control-app control-payment">
                    <h3 class="title">TẢI APP</h3>
                </div>
                <div class="control-payment-type control-payment">
                    <h3 class="title">THANH TOÁN</h3>
                    <div class="control-content">
                        <div class="control-img">
                            <img src="../../../../assets/images/money-payment.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-visa.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-mastercard.webp"
                                 alt="">
                        </div>
                    </div>
                    <div class="control-content">
                        <div class="control-img">
                            <img src="../../../../assets/images/internet-banking.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-vnpay.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logomomotransparent.webp"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="control-shipping-type control-payment">
                    <h3 class="title">VẬN CHUYỂN</h3>
                    <div class="control-content">
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-giaohangtietkiem.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-ghn.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-vietnampost.webp"
                                 alt="">
                        </div>
                    </div>
                    <div class="control-content">
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-ahamove.webp"
                                 alt="">
                        </div>
                        <div class="control-img">
                            <img src="../../../../assets/images/logo-logship.webp"
                                 alt="">
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</footer>