<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Về chúng tôi</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content ">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content">
          <a href="/member-benefits">Quyền lợi thành viên</a>
        </div>
        <div class="control-content">
          <a href="/shopping-guide">Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content">
          <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content">
          <a href="/warranty-policy">Chính sách bảo hành</a>
        </div>
        <div class="control-content">
          <a href="/delivery-time">Thời gian giao hàng</a>
        </div>
        <div class="control-content">
          <a href="/payment-method">Phương thức thanh toán</a>
        </div>
        <div class="control-content active">
          <a>Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Về chúng tôi</h3>

      <div class="detail-content">
        <p class="content-parent">
          Japana - Nơi Mua Sắm Hàng Nhật Đáng Tin Cậy N.h.ấ.t Việt Nam
        </p>
        <p class="content-parent">
          Nâng tầm thương hiệu, khẳng định vị thế nơi bán hàng Nhật hàng đầu tại Việt Nam
        </p>
        <p class="content-parent">
          Japana - thương hiệu uy tín chuyên cung cấp hàng Nhật chính hãng 100%, đã và đang từng bước khẳng định vị thế
          Nơi mua sắm hàng Nhật đáng tin cậy n.h.ấ.t Việt Nam. Với sứ mệnh mang đến cho khách hàng những sản phẩm chất
          lượng cao và trải nghiệm mua sắm hàng Nhật nhanh chóng, tiện lợi, Japana không ngừng nỗ lực cải thiện và phát
          triển, để trở thành người bạn đồng hành tin cậy của mọi gia đình Việt.
        </p>
        <p class="content-parent">
          Hơn 8 năm đồng hành cùng hàng triệu khách hàng yêu thích sản phẩm Nhật trên khắp đất nước Việt Nam, Japana
          thấu hiểu băn khoăn, lo ngại của quý khách hàng trước tình trạng buôn bán hàng giả, hàng nhái, hàng kém chất
          lượng đang ngày càng tràn lan trên thị trường bởi rất nhiều người bán hàng bất chấp sức khỏe và nhan sắc của
          người dùng.
        </p>
        <p class="content-parent">
          Japana luôn hoạt động với triết lý “Phụng sự, phụng sự và phụng sự”, Japana lấy nỗi đau của khách hàng là sự
          trăn trở của chính mình. Vì vậy, tất cả những sản phẩm và dịch vụ của Japana đều lấy khách hàng là trọng tâm.
          Cam kết:
        </p>

        <p class="content-child">
          - 100% sản phẩm chính hãng từ những thương hiệu hàng đầu, được kiểm soát chất lượng nghiêm ngặt.
        </p>

        <p class="content-child">
          - Chỉ bán cái khách hàng cần, không bán cái mình có. Japana chỉ bán những sản phẩm phù hợp với thể trạng và
          nhu cầu thực tế của khách hàng, không bán hàng bất chấp sức khỏe của người tiêu dùng.
        </p>

        <p class="content-child">
          - Đội ngũ chăm sóc và tư vấn khách hàng tận tâm, thấu hiểu khách hàng cần gì, sợ gì.
        </p>
        <p class="content-child">
          - Trải nghiệm mua sắm nhanh chóng, tiện ích với hệ thống mua hàng online và cửa hàng, cùng nhiều phương thức
          thanh toán, giao hàng.
        </p>
        <p class="content-parent">
          Japana đã, đang và sẽ tiếp tục chinh phục sứ mệnh của mình thông qua việc chinh phục sự hài lòng và niềm tin
          của hàng triệu người Việt, không chỉ ở Việt Nam mà trên toàn thế giới.
        </p>
        <p class="content-parent">
          Để chứng minh cho điều đó, Japana luôn là người bạn đồng hành của người tiêu dùng sản phẩm Nhật Bản tại Việt
          Nam trong suốt 8 năm qua với nhiều dòng sản phẩm có chất lượng và thương hiệu hàng đầu:
        </p>

        <p class="content-child">
          - Thực phẩm hỗ trợ sức khỏe: Tảo xoắn, bổ xương khớp, hỗ trợ tăng chiều cao GH, Fucoidan Nhật...
        </p>
        <p class="content-child">
          - Thực phẩm bổ sung làm đẹp da, ngừa lão hóa: Collagen, tinh chất nhau thai, viên uống trắng da Transino...
        </p>
        <p class="content-child">- Các dòng Skincare nổi tiếng như SK-II, Transino, Anessa, Shiseido, Yukina...</p>

        <p class="content-parent">Chính sách này không áp dụng cho nhân viên Tư vấn bán hàng trong hệ thống siêu thị
          Japana.</p>
        <p class="content-parent">Chúng tôi xin chân thành cảm ơn sự ủng hộ và đồng hành của quý khách!</p>

        <div class="content-image">
          <img src="./../../../../../assets/images/image-information-website1.jpg"
               alt="">
        </div>

        <p class="content-parent">
          Chúng tôi tin rằng, với sự kiên định phụng sự cho khách hàng được ưu tiên hàng đầu, Japana sẽ tiếp tục là nơi
          để người tiêu dùng gửi gắm niềm tin trong hành trình chăm sóc và bảo vệ sức khỏe, sắc đẹp cho từng thành viên
          trong gia đình.
        </p>
        <p class="content-parent">
          Vì lẽ đó, chúng tôi luôn tự tin rằng sản phẩm và dịch vụ Japana hàng đầu thị trường tiêu dùng sản phẩm Nhật
          Bản tại Việt Nam. Chúng tôi sẵn sàng nói với khách hàng rằng: “Nếu sử dụng sản phẩm mà phát hiện hàng kém chất
          lượng thì Japana sẽ hoàn tiền 200%, miễn phí đổi trả kèm nhiều đền bù khác”. Tất nhiên, sau 8 năm hoạt động,
          Japana chưa bao giờ phải xử lý tình huống trớ trêu này.
        </p>
        <p class="content-parent">Nâng cao trải nghiệm mua sắm hàng Nhật tại Việt Nam</p>

        <p class="content-parent">Quý khách hàng có thể mua sắm trực tuyến tại hệ thống hàng Nhật chính hãng của Siêu
          thị Nhật Bản Japana.</p>
        <p class="content-parent">Hệ thống mua sắm hàng Nhật Online của Japana gồm có:</p>
        <p class="content-child">
          - Website: Japana | Siêu thị Nhật Bản
        </p>
        <p class="content-child">
          - Shopee: Japana | Official Store
        </p>
        <p class="content-child">
          - Tiktok: japana.official
        </p>
        <p class="content-child">
          - Facebook: Siêu thị Nhật Bản Japana
        </p>
        <p class="content-child">
          - Instagram: japanavn
        </p>
        <p class="content-child">
          - Zalo OA: Japana
        </p>
        <p class="content-child">
          - Tải App Japanavn trên App Store hoặc Google CH Play
        </p>
        <p class="content-child">
          - Hotline tư vấn: 0975 800 600
        </p>
        <p class="content-parent">
          Hệ thống cửa hàng Japana gồm có:
        </p>
        <p class="content-child">
          - Cửa hàng 1: 36D Phan Đăng Lưu, Phường 5, Q. Phú Nhuận, HCM
        </p>
        <p class="content-child">
          - Cửa hàng 2: 353A Tân Kỳ Tân Quý, P. Tân Quý, Q. Tân Phú, HCM
        </p>
        <div class="content-image">
          <img src="./../../../../../assets/images/image-infor-website2.jpg"
               alt="">
        </div>
        <p class="content-parent">
          Với Japana, nụ cười hài lòng của Quý khách là sự thành công của Japana. Nếu chưa từng có những trải nghiệm tốt
          n.h.ấ.t khi mua sắm, hãy đến với Japana để nâng tầm sức khỏe và nhan sắc của cả gia đình bạn!
        </p>
        <p class="content-parent">
          Trải nghiệm hệ thống Siêu thị Nhật Bản Japana ngay hôm nay để mua sắm và trải nghiệm không giới hạn tại Nơi
          mua sắm hàng Nhật đáng tin cậy n.h.ấ.t Việt Nam!
        </p>
        <p class="content-parent">
          Liên hệ để được giải đáp ngay mọi thắc mắc tại đây.
        </p>
      </div>
    </div>
  </div>
</div>