<!-- pagination.component.html -->
<div *ngIf="data.length">

  <div class="pagination-controls">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 1">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button *ngFor="let page of pageNumbers" class="btn-page-index"
            (click)="onPageChange(page)" 
            [class.active]="page === currentPage" 
            [class.disabled]="page === '...'">
      {{ page }}
    </button>
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
</div>
