<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Chính sách đổi trả và hoàn tiền</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content ">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content ">
          <a href="/member-benefits">Quyền lợi thành viên</a>
        </div>
        <div class="control-content">
          <a href="/shopping-guide">Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content active">
          <a>Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content">
          <a href="/warranty-policy">Chính sách bảo hành</a>
        </div>
        <div class="control-content">
          <a href="/delivery-time">Thời gian giao hàng</a>
        </div>
        <div class="control-content">
          <a href="/payment-method">Phương thức thanh toán</a>
        </div>
        <div class="control-content">
          <a href="/infor-website">Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Chính sách đổi trả và hoàn tiền</h3>

      <div class="detail-content">
        <p class="content-parent">
          1. Điều kiện đổi trả hàng:
        </p>
        <p class="content-parent">
          Hiểu được sự ngần ngại/lo lắng của khách hàng về tính xác thực của hàng hóa khi mua sắm trực tuyến, Japana hỗ
          trợ chính sách đồng kiểm, áp dụng với tất cả các sản phẩm được bán tại website Japana (Không áp dụng với các
          sản phẩm được niêm phong bởi nhà sản xuất).
        </p>
        <p class="content-parent">
          Trước khi chấp nhận và thanh toán cho một đơn hàng, khách hàng của Japana có quyền yêu cầu được mở thùng hàng
          để kiểm tra hàng hóa bên trong có đúng với thông tin đặt hàng hay không. Các thông tin bao gồm: Số lượng,
          chủng loại (Model), màu sắc, kích thước, hình thức, tính nguyên vẹn của hàng hóa.
        </p>
        <p class="content-parent">
          Các bước kiểm tra sâu hơn như sử dụng thử sản phẩm có thể được tiến hành sau khi Quý khách đã thanh toán cho
          đơn hàng.

          Kể từ thời gian nhận hàng, Quý khách có quyền từ chối nhận hàng và thực hiện đổi/trả hàng theo điều kiện
          đổi/trả hàng được cụ thể bên dưới. Quý khách hãy liên hệ ngay với bộ phận Chăm sóc khách hàng của chúng tôi để
          được hỗ trợ kịp thời.
        </p>
        <p class="content-parent">
          *** LƯU Ý: Thông tin trọng lượng của sản phẩm được thể hiện trên website là trọng lượng tương đối, chỉ mang ý
          nghĩa tham khảo (giúp khách hàng hình dung rõ hơn về sản phẩm), không có ý nghĩa cho việc kiểm tra, đổi trả
          lại hàng hóa.
        </p>

        <p class="content-child">
          Điều kiện đổi hàng:
        </p>

        <div class="content-image">
          <img src="./../../../../../assets/images/image-refund_1.png"
               alt="">
        </div>

        <div class="content-image">
          <img src="./../../../../../assets/images/image-refund_2.png"
               alt="">
        </div>

        <p class="content-child">
          Điều kiện trả hàng:
        </p>
        <div class="content-image">
          <img src="./../../../../../assets/images/image-refund_3.png"
               alt="">
        </div>
        <p class="content-parent">
          2. Phương thức đổi trả hàng:
        </p>
        <p class="content-parent">Trong thời gian còn hiệu lực đổi trả hàng, Quý khách vui lòng thực hiện các bước sau
          để được đổi trả hàng:</p>

        <p class="content-parent">- Bước 1: Liên hệ trực tiếp với nhân viên Tư vấn bán hàng qua Tổng đài CSKH: 0975 800
          600 để được hỗ trợ kịp thời.</p>
        <p class="content-parent">- Bước 2: Chụp và gửi hình ảnh sản phẩm để xác nhận tình trạng hàng hoá.</p>

        <p class="content-parent">
          - Bước 3: Sau khi yêu cầu đổi trả hàng được chấp thuận, quý khách vui lòng đóng gói cẩn thận và gửi qua đường
          bưu điện hoặc phương tiện vận chuyển khác về cho chúng tôi theo địa chỉ:
        </p>
        <p class="content-parent">
          + Người nhận: Japana Siêu thị Nhật Bản
        </p>

        <p class="content-parent">
          + Địa chỉ: Tòa nhà Trường Thịnh Group, Số 76 Nguyễn Háo Vĩnh, P. Tân Quý, Q. Tân Phú, TP. HCM.
        </p>

        <p class="content-parent">
          - Bước 4: Quý khách vui lòng đóng gói bao bì cẩn thận, tránh trầy xước, hỏng bể, bong tróc hay bám bẩn so với
          lúc xác nhận chấp thuận đổi trả lại hàng.
        </p>

        <p class="content-parent">
          * LƯU Ý: Nếu sản phẩm gửi trả về bị hỏng, bể, trầy xước, bong tróc, bám bẩn,... có thay đổi so với thời điểm
          xác nhận chấp thuận đổi trả lại hàng, chúng tôi có quyền từ chối nhận đổi trả.
        </p>

        <p class="content-parent">
          3. Chính sách hoàn tiền:
        </p>

        <p class="content-parent">
          Japana Siêu thị Nhật Bản cam kết hoàn tiền 200% nếu sản phẩm kém chất lượng, không chính hãng.
        </p>

        <p class="content-parent">
          Ngay sau khi đơn hàng huỷ trả khách hàng gửi về được chúng tôi xác nhận, trong vòng 07 ngày làm việc, Japana
          sẽ chuyển trả lại toàn bộ số tiền cho sản phẩm/đơn hàng mà quý khách đã thanh toán.
        </p>


      </div>
    </div>
  </div>
</div>