<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Phương thức thanh toán</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content">
          <a href="/member-benefits">Quyền lợi thành viên</a>
        </div>
        <div class="control-content ">
          <a href="/shopping-guide">Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content">
          <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content">
          <a href="/warranty-policy">Chính sách bảo hành</a>
        </div>
        <div class="control-content">
          <a href="/delivery-time">Thời gian giao hàng</a>
        </div>
        <div class="control-content active">
          <a>Phương thức thanh toán</a>
        </div>
        <div class="control-content">
          <a href="/infor-website">Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Phương thức thanh toán</h3>

      <div class="detail-content">
        <p class="content-parent">
          Nhằm mang đến Quý khách những trải nghiệm mua sắm trực tuyến tuyệt vời nhất tại Japana, chúng tôi có các
          phương thức thanh toán để Quý khách dễ dàng lựa chọn:
        </p>
        <p class="content-parent">
          1. Thanh toán bằng tiền mặt khi nhận hàng (COD)
        </p>
        <p class="content-parent">
          2. Thanh toán trực tiếp tại Văn phòng Công ty JAPANA Việt Nam
        </p>
        <p class="content-parent">
          3. Thanh toán qua tài khoản Ngân hàng
        </p>
        <p class="content-parent">
          4. Thanh toán bằng Ví điện tử VNPAY
        </p>
        <p class="content-parent">
          5. Thanh toán bằng Ví điện tử MOMO
        </p>
        <p class="content-parent">
          I. Thanh toán bằng tiền mặt khi nhận hàng (COD)​
        </p>
        <p class="content-parent">
          COD là viết tắt của Cash On Delivery, nghĩa là thanh toán khi nhận hàng. Với phương thức thanh toán này, Quý
          khách trả tiền mặt cho nhân viên giao hàng ngay khi nhận được đơn hàng của mình. Chúng tôi chấp nhận hình thức
          thanh toán khi nhận hàng (COD) cho tất cả các đơn hàng trên phạm vi toàn quốc.
        </p>
        <p class="content-parent">
          **Lưu ý: Chỉ áp dụng cho đơn hàng có tổng giá trị nhỏ hơn 10 triệu đồng. Nếu đơn hàng trên 10 triệu đồng, Quý
          khách hàng vui lòng chọn hình thức thanh toán khác.
        </p>
        <p class="content-parent">
          Đơn giản. An toàn. Không chút rắc rối mà lại an tâm tuyệt đối khi Quý khách hàng chọn thanh toán COD.
        </p>
        <p class="content-parent">
          II. Thanh toán trực tiếp tại Văn phòng Công ty Japana Việt Nam
        </p>
        <p class="content-parent">
          Quý khách hàng có thể đến trực tiếp văn phòng Công Ty Cổ Phần Japana Việt Nam tại địa chỉ: Số 76 đường Nguyễn
          Háo Vĩnh, Quận Tân Phú, Tp. HCM và gặp trực tiếp nhân viên thu ngân để thanh toán.
        </p>
        <p class="content-parent">
          III. Thanh toán qua tài khoản Ngân hàng
        </p>
        <p class="content-parent">
          Quý khách có thể thanh toán bằng hình thức chuyển khoản qua tài khoản ngân hàng của Công ty cổ phần Japana
          Việt Nam.
        </p>
        <p class="content-parent">
          Truy cập Website hoặc App Mobile, sau khi Quý khách tiến hành lựa chọn sản phẩm và mua hàng, tại trang cung
          cấp thông tin giao hàng, Quý khách chọn "Chuyển khoản qua ngân hàng" sẽ có thông tin số tài khoản của
          Japana.vn tại các ngân hàng mà Công ty cổ phần Japana Việt Nam chấp nhận thanh toán. Quý khách có thể lựa chọn
          ngân hàng phù hợp nhất với mình để tiến hành thanh toán cho đơn hàng đã chọn.
        </p>
        <p class="content-parent">
          Quý khách có thể liên hệ trực tiếp với bộ phận chăm sóc khách hàng qua hotline 0975 800 600 để được hỗ trợ và
          hướng dẫn cụ thể.
        </p>
        <p class="content-parent">
          ** Lưu ý: Khi Quý khách chọn Phương thức thanh toán qua Ngân hàng, đễ tránh nhầm lẫn do có nhiều đơn hàng, đề
          nghị Quý khách ghi "Mã Đơn Hàng" của đơn hàng đã được chúng tôi cung cấp cho Quý khách qua Email xác nhận đơn
          hàng hoặc tin nhắn xác nhận đơn hàng qua Zalo trong nội dung thanh toán.
        </p>
        <p class="content-parent">
          Thông tin Ngân hàng:
        </p>
        <p class="content-child">
          Tên Ngân Hàng: Ngân Hàng Vietcombank Chi Nhánh Tân Bình
        </p>
        <p class="content-child">
          Chủ Tài Khoản: Công Ty Cổ Phần Japana Việt Nam
        </p>
        <p class="content-child">
          Số Tài Khoản: 044 1000 776 006
        </p>
        <p class="content-parent">
          IV. Thanh toán bằng Ví điện tử VNPAY
        </p>
        <p class="content-parent">
          Quý khách hàng khi mua hàng tại Japana (Bằng hình thức truy cập qua Website hoặc App Mobile) có thể lựa chọn
          phương thức Thanh toán trực tuyến qua cổng thanh toán VNPAY. Các phương thức thanh toán qua cổng VNPAY bao
          gồm:
        </p>
        <p class="content-child">
          Ứng dụng thanh toán hỗ trợ VNPAY QR.
        </p>
        <p class="content-child">
          Thẻ nội địa và tài khoản ngân hàng.
        </p>
        <p class="content-child">
          Thẻ thanh toán quốc tế (VISA/ Master Card).
        </p>
        <p class="content-child">
          Ví điện tử VNPAY
        </p>
        <p class="content-parent">
          V. Thanh toán bằng Ví điện tử MOMO
        </p>
        <p class="content-parent">
          Quý khách hàng khi mua hàng tại Japana (Bằng hình thức truy cập qua Website hoặc App Mobile) có thể lựa chọn
          phương thức Thanh toán trực tuyến qua cổng thanh toán MOMO. Các phương thức thanh toán qua cổng MOMO bao gồm:
        </p>
        <p class="content-child">
          Ứng dụng thanh toán hỗ trợ MOMO.
        </p>
        <p class="content-child">
          Thẻ nội địa và tài khoản ngân hàng.
        </p>
        <p class="content-child">
          Thẻ thanh toán quốc tế (VISA/ Master Card).
        </p>
        <p class="content-child">
          Ví điện tử MOMO - Ví trả trước
        </p>
        <p class="content-child">
          Ví điện tử MOMO - Ví trả sau
        </p>
        <p class="content-parent">
          Quý khách chỉ cần lựa chọn phương thức phù hợp và tiến hành thanh toán một cách đơn giản, nhanh gọn.
        </p>
        <p class="content-parent">
          Quý khách hàng có bất cứ thắc mắc, vấn đề trong quá trình thanh toán vui lòng liên hệ Tổng đài chăm sóc khách
          hàng theo số Hotline 0975 800 600 để chúng tôi có thể hỗ trợ tối đa cho Quý khách hàng!
        </p>
        <p class="content-parent">
          Chúc Quý khách có trải nghiệm mua sắm hàng Nhật thật tuyệt vời tại JAPANA!
        </p>
      </div>
    </div>
  </div>
</div>