<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Chính sách bảo hành</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content">
          <a href="/member-benefits">Quyền lợi thành viên</a>
        </div>
        <div class="control-content ">
          <a href="/shopping-guide">Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content">
          <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content ">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content active">
          <a >Chính sách bảo hành</a>
        </div>
        <div class="control-content">
          <a href="/delivery-time">Thời gian giao hàng</a>
        </div>
        <div class="control-content">
          <a href="/payment-method">Phương thức thanh toán</a>
        </div>
        <div class="control-content">
          <a href="/infor-website">Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Chính sách bảo hành</h3>

      <div class="detail-content">
        <p class="content-parent">
          I. ĐIỀU KIỆN BẢO HÀNH:
        </p>
        <p class="content-parent">
          1. Sản phẩm được bảo hành miễn phí nếu sản phẩm đó hội đủ các điều kiện sau:
        </p>
        <p class="content-parent">
          - Sản phẩm bị lỗi kỹ thuật do nhà sản xuất
        </p>
        <p class="content-parent">
          - Còn trong thời hạn bảo hành
        </p>
        <p class="content-parent">
          - Còn giữ hóa đơn mua hàng JAPANA Siêu Thị Nhật Bản.
        </p>
        <p class="content-parent">
          - Phiếu bảo hành phải còn nguyên vẹn, không chấp vá, bôi xóa, sửa chữa.
        </p>
        <p class="content-parent">
          - Phiếu bảo hành đầy đủ thông tin: kiểu máy, số seri, ngày sản xuất, tên khách hàng sử dụng, địa chỉ, ngày mua
          (đối với các sản phẩm không áp dụng Bảo hành điện tử)
        </p>
        <p class="content-parent">
          - Tem bảo hành (và tem niêm phong) của nhà sản xuất trên sản phẩm còn nguyên vẹn.
        </p>
        <p class="content-parent">
          2. Những trường hợp không được bảo hành hoặc phát sinh phí bảo hành:
        </p>
        <p class="content-parent">
          - Vi phạm một trong những điều kiện bảo hành miễn phí ở mục 1.
        </p>
        <p class="content-parent">
          - Số series, model sản phẩm không khớp với Phiếu bảo hành.
        </p>
        <p class="content-parent">
          - Khách hàng tự ý can thiệp sửa chữa sản phẩm hoặc sửa chữa tại những trung tâm bảo hành không được sự ủy
          nhiệm của Hãng.
        </p>
        <p class="content-parent">
          - Sản phẩm bị hư hỏng do lỗi người sử dụng, và lỗi hư không nằm trong phạm vi bảo hành của nhà sản xuất
        </p>
        <p class="content-parent">
          II. THỜI HẠN BẢO HÀNH:
        </p>
        <p class="content-parent">
          Thời hạn bảo hành được tính kể từ ngày mua hàng hoặc kể từ ngày sản xuất tùy thuộc từng loại sản phẩm được quy
          định rõ trên phiếu bảo hành. Đối với sản phẩm bảo hành điện tử, thời hạn bảo hành được tính từ thời điểm kích
          hoạt bảo hành điện tử.
        </p>
        <p class="content-parent">
          III. TRUNG TÂM BẢO HÀNH:
        </p>
        <p class="content-parent">
          Thông tin của trung tâm bảo hành sẽ được ghi trong phiếu bảo hành kèm theo sản phẩm. Quý khách vui lòng liên
          hệ trực tiếp với trung tâm bảo hành có trên phiếu bảo hành.
        </p>
        <p class="content-parent">
          Trong trường hợp sản phẩm được phân phối trực tiếp từ các Đại lý, quý khách vui lòng trực tiếp liên hệ với đại
          lý đó để được hỗ trợ bảo hành trong thời gian nhanh nhất. Mọi thông tin của đại lý được ghi trên phiếu biên
          nhận giao hàng được đính kèm trong thùng hàng.
        </p>
        <p class="content-parent">
          Nếu quý khách gặp khó khăn trong việc liên hệ trung tâm bảo hành, xin quý khách vui lòng liên hệ bộ phận Chăm
          sóc khách hàng theo tổng đài 0975 800 600.
        </p>
        <p class="content-parent">
          Trong trường hợp quý khách ở quá xa trung tâm bảo hành hoặc gặp các vấn đề bất tiện không thể đến trung tâm
          bảo hành trực tiếp, quý khách có thể gửi sản phẩm về Japana.vn, chúng tôi sẽ hỗ trợ gửi sản phẩm đi bảo hành
          giúp quý khách..
        </p>

      </div>
    </div>
  </div>
</div>