<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Quyền lợi thành viên</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content ">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content active">
          <a>Quyền lợi thành viên</a>
        </div>
        <div class="control-content">
          <a href="/shopping-guide">Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content">
          <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content">
          <a href="/warranty-policy">Chính sách bảo hành</a>
        </div>
        <div class="control-content">
          <a href="/delivery-time">Thời gian giao hàng</a>
        </div>
        <div class="control-content">
          <a href="/payment-method">Phương thức thanh toán</a>
        </div>
        <div class="control-content">
          <a href="/infor-website">Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Quyền lợi thành viên</h3>

      <div class="detail-content">
        <p class="content-parent">
          Khách hàng mua sắm trên hệ thống Japana Siêu thị Nhật Bản được hưởng các quyền lợi sau:
        </p>
        <p class="content-parent">
          Điều kiện thành viên:
        </p>
        <p class="content-child">
          Thành viên Silver - Điều kiện: Tổng số tiền đã mua dưới 10.000.000đ
        </p>
        <p class="content-child">
          Thành viên Gold - Điều kiện: Tổng số tiền đã mua từ trên 10.000.000đ
        </p>
        <p class="content-child">
          Thành viên Platinum - Điều kiện: Tổng số tiền đã mua từ trên 30.000.000đ
        </p>

        <p class="content-child">
          Thành viên Diamond - Điều kiện: Tổng số tiền đã mua từ trên 50.000.000đ
        </p>

        <p class="content-parent">
          Quyền lợi thành viên:
        </p>

        <p class="content-child">
          Thành viên Silver - Hệ số tích điểm: 1% trên đơn hàng hoàn thành.
        </p>
        <p class="content-child">
          Thành viên Gold - Hệ số tích điểm: 3% trên đơn hàng hoàn thành.
        </p>
        <p class="content-child">
          Thành viên Platinum - Hệ số tích điểm: 4% trên đơn hàng hoàn thành.
        </p>
        <p class="content-child">
          Thành viên Diamond - Hệ số tích điểm: 5% trên đơn hàng hoàn thành.
        </p>

        <div class="content-image">
          <img src="./../../../../../assets/images/image-member-benifits.jpg"
               alt="">
        </div>

        <p class="content-parent">
          Quý khách hàng được quyền dùng số điểm đã tích lũy để thanh toán trực tiếp cho đơn hàng.
        </p>
        <p class="content-parent">
          Lưu ý:
        </p>
        <p class="content-parent">Thời gian áp dụng kể từ ngày 08/06/2022 cho đến khi có thông báo mới.</p>

        <p class="content-parent">Chính sách này không áp dụng cho nhân viên Tư vấn bán hàng trong hệ thống siêu thị
          Japana.</p>
        <p class="content-parent">Chúng tôi xin chân thành cảm ơn sự ủng hộ và đồng hành của quý khách!</p>

      </div>
    </div>
  </div>
</div>