<div class="container-group-page-footer">
  <div class="link-product">
    <a href="/"> Trang chủ</a>
    <div class="group-link-child">
      <span class="material-icons">
        chevron_right
      </span>
      <a>Thời gian giao hàng</a>
    </div>
  </div>
  <div class="group-content-page-footer">
    <div class="content-left">
      <div class="header">
        <img src="./../../../../../assets/images/icon1a.png"
             alt="">
        <span>Chăm sóc khách hàng</span>
      </div>
      <div class="body-content">
        <div class="control-content ">
          <a href="/sales-regulations">Quy định bán hàng trên Website Japana</a>
        </div>
        <div class="control-content ">
          <a href="/member-benefits">Quyền lợi thành viên</a>
        </div>
        <div class="control-content">
          <a href="/shopping-guide">Hướng dẫn mua hàng</a>
        </div>
        <div class="control-content ">
          <a href="/return-refund">Chính sách đổi trả và hoàn tiền</a>
        </div>
        <div class="control-content">
          <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
        <div class="control-content">
          <a href="/warranty-policy">Chính sách bảo hành</a>
        </div>
        <div class="control-content active">
          <a>Thời gian giao hàng</a>
        </div>
        <div class="control-content">
          <a href="/payment-method">Phương thức thanh toán</a>
        </div>
        <div class="control-content">
          <a href="/infor-website">Về chúng tôi</a>
        </div>
      </div>
      <div class="footer-content">
        <img src="./../../../../../assets/images/icon1b.png"
             alt="">
        <span>Liên hệ</span>
      </div>
    </div>
    <div class="content-right">
      <h3 class="title">Thời gian giao hàng</h3>

      <div class="detail-content">
        <p class="content-parent">
          Thời gian giao hàng được tính bắt đầu kể từ khi Japana xác nhận đơn hàng thành công. Quý khách có thể tham
          khảo tại bảng thời gian giao hàng của Japana bên dưới:
        </p>
        <p class="content-parent">
          Khi các mặt hàng có tại Việt Nam:
        </p>
        <div class="content-image">
          <img src="./../../../../../assets/images/image-shipping1.png"
               alt="">
        </div>
        <p class="content-parent">
          Khi các sản phẩm của Japana đang ở Nhật Bản:
        </p>
        <div class="content-image">
          <img src="./../../../../../assets/images/image-shipping2.png"
               alt="">
        </div>
        <p class="content-parent">
          Vì sao các sản phẩm của Japana Siêu Thị Nhật Bản đang ở Nhật Bản?
        </p>
        <p class="content-parent">
          Japana.vn là website bán hàng Nhật Bản trực tuyến, các sản phẩm được đăng tải trên website Japana do Văn Phòng
          đại diện của công ty Japana Việt nam tại Nhật Bản và/hoặc do các nhà cung cấp nhập khẩu trực tiếp từ Nhật Bản
          về Việt Nam. Tuy nhiên, vì là ngành hàng tiêu dùng có nhiều sản phẩm, nên có một số sản phẩm theo quy định
          hiện hành của Japana, sau khi Quý khách hàng đặt mua chúng tôi mới nhập về, vì vậy thời gian giao hàng lâu hơn
          hàng đã có tại Việt Nam khoản 10 ngày. Trong thời gian tới chúng tôi sẽ cố gắng khắc phục vấn đề này.
        </p>
        <p class="content-parent">
          Các trường hợp sau đây nằm ngoài phạm vị cam kết của Japana về việc không giao hàng đúng hẹn:
        </p>
        <p class="content-child">
          Quý khách không cung cấp chính xác, đầy đủ địa chỉ giao hàng và thông tin liên lạc trong quá trình đặt hàng
          (phần "Thông tin Giao hàng").
        </p>

        <p class="content-child">
          Japana nhiều lần liên hệ quý khách qua điện thoại, email nhưng không nhận được phản hồi.
        </p>
        <p class="content-child">
          Thời gian giao đến địa chỉ giao hàng đã được ấn định trước với quý khách nhưng quý khách không sẵn sàng để
          nhận hàng.
        </p>

        <p class="content-child">
          Japana đã giao hàng đúng hẹn theo "Thông tin Giao hàng" nhưng quý khách để nhân viên giao hàng chờ quá 10 phút
          để nhận hàng và mọi nỗ lực của Japana nhằm liên hệ với quý khách đều không thành công.
        </p>
        <p class="content-child">
          Những trường hợp bất khả kháng như thiên tai (bao gồm động đất, gió xoáy, tai nạn giao thông,...), hoặc trường
          hợp gián đoạn mạng lưới giao thông trên quy mô toàn quốc hay quy mô địa phương và những trục trặc cơ học xảy
          ra cho các phương tiện vận chuyển hay máy móc.
        </p>

      </div>
    </div>
  </div>
</div>